#mapid {
  height: 100%;
  width: 100%;
  position: absolute;
  }
  html,body{margin: 0; padding: 0}

#mapid:before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 999;
}

h1::before{
  content: "Dave's Ride 2011 : Final day - planned, in detail";
  color: rgb(0, 255, 128);
  text-shadow: 1pt 1pt 2px rgb(0,0,0);
  position: absolute;
  left: 100px;
  z-index: 999;
}